block data
  -  var data = [
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "http:\/\/ecosned.ru\/image\/cache\/catalog\/categories\/iz_fermerskogo_moloka\/tvorog\/7\/ge-catalog-categories-iz_fermerskogo_moloka-tvorog-tvorozhnaya_massa_s_kuragoy-800x800.jpg",
  -      "Творог 9% с курагой",
  -      121,
  -      45
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3265\/3265004H.jpg",
  -      "Молочный Яблоко 100",
  -      25.1,
  -      44
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "http:\/\/irecommend.ru\/sites\/default\/files\/imagecache\/copyright1\/user-images\/299388\/Ydfgl76IXe0nEM2gO6Ww.JPG",
  -      "Молочный Традиция 100",
  -      115,
  -      62
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      null,
  -      "Виноград 0,3л",
  -      65,
  -      87
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "https:\/\/mariupolcena.com\/files\/products\/9ff44136e6ccb0afb404ad26f727e67d.jpeg",
  -      "Русская картошка чедар 50",
  -      46.3,
  -      86
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "https:\/\/images.ua.prom.st\/50389447_w640_h640_ncheskaya_s_grushej_200_g..jpg",
  -      "Молочный Груша 200",
  -      180,
  -      80
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3054\/3054289H.jpg",
  -      "Аленка карамель 100г Акционный товар Большая скидка",
  -      73.9,
  -      94
  -    ],
  -    [
  -      "2017-10-16 12:07:07",
  -      "Расход",
  -      564564867361367,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3176\/3176192H.jpg",
  -      "Сыр 125г",
  -      131,
  -      83
  -    ],
  -    [
  -      "2017-10-16 15:09:08",
  -      "Расчет",
  -      564564867361368,
  -      "http:\/\/карапузик.com.images.1c-bitrix-cdn.ru\/upload\/iblock\/b28\/b28f089d41db757b74cfebfe21609228.jpg",
  -      "Яблоко-Виноград 0,5л",
  -      44,
  -      20
  -    ],
  -    [
  -      "2017-10-16 15:09:08",
  -      "Расчет",
  -      564564867361368,
  -      "https:\/\/images.ua.prom.st\/50389447_w640_h640_ncheskaya_s_grushej_200_g..jpg",
  -      "Молочный Груша 200",
  -      180,
  -      65
  -    ],
  -    [
  -      "2017-10-16 15:09:08",
  -      "Расчет",
  -      564564867361368,
  -      "http:\/\/ecosned.ru\/image\/cache\/catalog\/categories\/iz_fermerskogo_moloka\/tvorog\/7\/ge-catalog-categories-iz_fermerskogo_moloka-tvorog-tvorozhnaya_massa_s_kuragoy-800x800.jpg",
  -      "Творог 9% с курагой",
  -      121,
  -      41
  -    ],
  -    [
  -      "2017-10-16 15:09:08",
  -      "Расчет",
  -      564564867361368,
  -      "https:\/\/www.komus.ru\/medias\/sys_master\/root\/hd3\/h93\/9286922043422.jpg",
  -      "Молочный Изюм 100",
  -      102,
  -      72
  -    ],
  -    [
  -      "2017-10-16 15:09:08",
  -      "Расчет",
  -      564564867361368,
  -      null,
  -      "Виноград 0,3л",
  -      65,
  -      39
  -    ],
  -    [
  -      "2017-10-16 18:11:09",
  -      "Приход",
  -      564564867361369,
  -      "http:\/\/irecommend.ru\/sites\/default\/files\/imagecache\/copyright1\/user-images\/299388\/Ydfgl76IXe0nEM2gO6Ww.JPG",
  -      "Молочный Традиция 100",
  -      115,
  -      60
  -    ],
  -    [
  -      "2017-10-16 18:11:09",
  -      "Приход",
  -      564564867361369,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3054\/3054289H.jpg",
  -      "Аленка карамель 100г Акционный товар Большая скидка",
  -      73.9,
  -      99
  -    ],
  -    [
  -      "2017-10-16 18:11:09",
  -      "Приход",
  -      564564867361369,
  -      "https:\/\/mariupolcena.com\/files\/products\/9ff44136e6ccb0afb404ad26f727e67d.jpeg",
  -      "Русская картошка чедар 50",
  -      46.3,
  -      51
  -    ],
  -    [
  -      "2017-10-16 18:11:09",
  -      "Приход",
  -      564564867361369,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3117\/3117496H.jpg",
  -      "Русская картошка икра 50",
  -      33.1,
  -      15
  -    ],
  -    [
  -      "2017-11-01 12:09:03",
  -      "Приход",
  -      564564867361360,
  -      "https:\/\/images.ua.prom.st\/50389447_w640_h640_ncheskaya_s_grushej_200_g..jpg",
  -      "Молочный Груша 200",
  -      180,
  -      96
  -    ],
  -    [
  -      "2017-11-01 12:09:03",
  -      -      "Приход",
  -      564564867361360,
  -      null,
  -      "Парус апельсин 1л",
  -      150,
  -      89
  -    ],
  -    [
  -      "2017-11-01 12:09:03",
  -      "Приход",
  -      564564867361360,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3265\/3265004H.jpg",
  -      "Молочный Яблоко 100",
  -      25.1,
  -      9
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "https:\/\/mariupolcena.com\/files\/products\/9ff44136e6ccb0afb404ad26f727e67d.jpeg",
  -      "Русская картошка чедар 50",
  -      46.3,
  -      62
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "http:\/\/produkty-online.ru\/wa-data\/public\/shop\/products\/31\/83\/18331\/images\/1359\/1359.970.jpg",
  -      "Молочный Сказка 100",
  -      39,
  -      67
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3139\/3139296H.jpg",
  -      "Тоник 0,5л",
  -      63,
  -      51
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "https:\/\/www.komus.ru\/medias\/sys_master\/root\/hd3\/h93\/9286922043422.jpg",
  -      "Молочный Изюм 100",
  -      102,
  -      4
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "http:\/\/ecosned.ru\/image\/cache\/catalog\/categories\/iz_fermerskogo_moloka\/tvorog\/7\/ge-catalog-categories-iz_fermerskogo_moloka-tvorog-tvorozhnaya_massa_s_kuragoy-800x800.jpg",
  -      "Творог 9% с курагой",
  -      121,
  -      60
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      null,
  -      "Виноград 0,3л",
  -      65,
  -      61
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361361,
  -      "http:\/\/xn--4-8sbu.xn--p1ai\/thumb\/4KQdJOhw0Uu5AnP0PPIrMQ\/200r200\/761268\/3152.png",
  -      "Беседа. 50гр",
  -      36.5,
  -      41
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "https:\/\/www.komus.ru\/medias\/sys_master\/root\/hd3\/h93\/9286922043422.jpg",
  -      "Молочный Изюм 100",
  -      102,
  -      3
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3176\/3176192H.jpg",
  -      "Сыр 125г",
  -      131,
  -      96
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3139\/3139296H.jpg",
  -      "Тоник 0,5л",
  -      63,
  -      31
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      null,
  -      "Парус лимон 1л",
  -      150,
  -      52
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "http:\/\/www.svoda.ru\/site\/userfiles\/images\/%D0%9A%D0%90%D0%9F%D0%9B%D0%AF%20%D0%A0%D0%9E%D0%A1%D0%AB%201.5%D0%9B%20%D0%93%D0%90%D0%97%D0%98%D0%A0%D0%9E%D0%92%D0%90%D0%9D%D0%9D%D0%90%D0%AF.jpg",
  -      "Капля росы негаз 1.5л",
  -      16.9,
  -      16
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "http:\/\/www.calorizator.ru\/sites\/default\/files\/imagecache\/product_512\/product\/tvorog-prostokvashino-1.jpg",
  -      "Нежирный творог",
  -      52.41,
  -      81
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "http:\/\/ecosned.ru\/image\/cache\/catalog\/categories\/iz_fermerskogo_moloka\/tvorog\/7\/ge-catalog-categories-iz_fermerskogo_moloka-tvorog-tvorozhnaya_massa_s_kuragoy-800x800.jpg",
  -      "Творог 9% с курагой",
  -      121,
  -      23
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "https:\/\/tashkentcena.com\/files\/products\/893eebe7b69146290886dc504a3328ef.jpeg",
  -      "Горький коньяк 100",
  -      336,
  -      52
  -    ],
  -    [
  -      "2017-11-03 13:11:06",
  -      "Приход",
  -      564564867361362,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3054\/3054289H.jpg",
  -      "Аленка карамель 100г Акционный товар Большая скидка",
  -      73.9,
  -      12
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "https:\/\/mariupolcena.com\/files\/products\/9ff44136e6ccb0afb404ad26f727e67d.jpeg",
  -      "Русская картошка чедар 50",
  -      46.3,
  -      3
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      null,
  -      "Виноград 0,3л",
  -      65,
  -      88
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "http:\/\/www.calorizator.ru\/sites\/default\/files\/imagecache\/product_512\/product\/tvorog-prostokvashino-1.jpg",
  -      "Нежирный творог",
  -      52.41,
  -      20
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3139\/3139296H.jpg",
  -      "Тоник 0,5л",
  -      63,
  -      64
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "http:\/\/produkty-online.ru\/wa-data\/public\/shop\/products\/31\/83\/18331\/images\/1359\/1359.970.jpg",
  -      "Молочный Сказка 100",
  -      39,
  -      54
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      null,
  -      "Парус апельсин 1л",
  -      150,
  -      88
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "https:\/\/teremok.sm.ua\/wa-data\/public\/shop\/products\/82\/25\/82582\/images\/35179\/35179.750@2x.jpg",
  -      "Сметана и лук 25г",
  -      30,
  -      33
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      "http:\/\/xn--4-8sbu.xn--p1ai\/thumb\/4KQdJOhw0Uu5AnP0PPIrMQ\/200r200\/761268\/3152.png",
  -      "Беседа. 50гр",
  -      36.5,
  -      6
  -    ],
  -    [
  -      "2017-11-29 17:26:57",
  -      "Приход",
  -      564564867361365,
  -      null,
  -      "Парус лимон 1л",
  -      150,
  -      65
  -    ],
  -    [
  -      "2017-11-29 18:29:00",
  -      "Расход",
  -      564564867361364,
  -      "http:\/\/irecommend.ru\/sites\/default\/files\/imagecache\/copyright1\/user-images\/299388\/Ydfgl76IXe0nEM2gO6Ww.JPG",
  -      "Молочный Традиция 100",
  -      115,
  -      64
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "https:\/\/mariupolcena.com\/files\/products\/9ff44136e6ccb0afb404ad26f727e67d.jpeg",
  -      "Русская картошка чедар 50",
  -      46.3,
  -      6
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "https:\/\/teremok.sm.ua\/wa-data\/public\/shop\/products\/82\/25\/82582\/images\/35179\/35179.750@2x.jpg",
  -      "Сметана и лук 25г",
  -      30,
  -      18
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "http:\/\/xn--4-8sbu.xn--p1ai\/thumb\/4KQdJOhw0Uu5AnP0PPIrMQ\/200r200\/761268\/3152.png",
  -      "Беседа. 50гр",
  -      36.5,
  -      99
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "https:\/\/tashkentcena.com\/files\/products\/893eebe7b69146290886dc504a3328ef.jpeg",
  -      "Горький коньяк 100",
  -      336,
  -      94
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3176\/3176192H.jpg",
  -      "Сыр 125г",
  -      131,
  -      64
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      "https:\/\/www.utkonos.ru\/images\/photo\/3265\/3265004H.jpg",
  -      "Молочный Яблоко 100",
  -      25.1,
  -      52
  -    ],
  -    [
  -      "2017-11-29 19:31:03",
  -      "Приход",
  -      564564867361363,
  -      null,
  -      "Парус апельсин 1л",
  -      150,
  -      43
  -    ]
  -  ];